$media: $media-server + 'games/be-bright/';
$sprite: $media + 'sprites-animations/';
$image: $media + 'image-assets/';
$frame: $media + 'frames/';
$font: $media + 'fonts/';

$white: #fff;
$black: #000;

$yellow: rgb(244, 234, 43);
$yellow-2: #f4ea2b;
$green: #105e31;
$outline-green: #006d30;
$dark-green: #5a5601;
$grey: #8ebbcd;

$stroke: 4;
